<!-- site-notes></site-notes -->
<div class="row">
  <div class="w-full">
    <!-- BEGIN PORTLET-->
    <div class="portlet light">
      <div class="border-b border-blue-500 flex mb-4 content-center">
        <div class="caption caption-md flex-auto">
          <p class="text-blue-600 btn">
            <i class="fa fa-cubes"></i>
            <span class="caption-subject bold uppercase">Blocks</span>
          </p>
        </div>
        <div class="actions flex">
          <div class="btn-group">
            <a class="btn btn-med" ng-click="reloadBlocks()"><i class="fa fa-refresh text-blue-600" ng-class="{'fa-spin': blockLoading}"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div class="todo-tasklist scrollable">
          <div ng-repeat="t in latest_blocks track by $index" class="todo-tasklist-item border-l border-blue-600 row bg-blue-100" ng-class="(t.extraData.indexOf('Parity') > -1) ? 'item-border-red': '';(t.extraData.indexOf('Pool') > -1) ? 'item-border-blue': ''">
            <!--TODO: color by known miners -->
            <div class="col-sm-5">
              <span class="todo-tasklist-item-title"><i class="fa fa-cube text-blue-300"></i> <a href="/block/{{t.number}}" class="text-blue-500">{{t.number}}</a></span><br>
              <span class="todo-tasklist-date text-blue-600">
              <i class="fa fa-hourglass-o"></i>{{t.timestamp | timeDuration }} ago</span>
            </div>
            <div class="todo-tasklist-controls col-sm-7">
              <div class="todo-tasklist-item-text">
                <span class="text-blue-400">
                  <a href="/addr/{{t.miner}}">{{t.extraData}}</a><br>
                  by <a href="/addr/{{t.miner}}" >{{t.miner}}</a><br>
                  {{t.txn}} txns
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PORTLET-->
  </div>
  <div class="w-full" >
    <!-- BEGIN PORTLET-->
    <div class="portlet light">
      <div class="border-b border-blue-500 flex mb-4 content-center">
        <div class="caption caption-md flex-auto">
          <p class="text-blue-600 btn">
            <i class="icon-chart"></i>
            <span class="caption-subject bold uppercase">Transactions</span>
          </p>
        </div>
        <div class="actions">
          <div class="btn-group">
            <a class="btn btn-med" ng-click="reloadTransactions()"><i class="fa fa-refresh text-blue-600" ng-class="{'fa-spin': txLoading}"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div class="general-item-list scrollable">
          <div class="item"  ng-repeat="t in latest_txs track by $index">
            <div class="item-head">
              <div class="truncate-txhash" style="float:left">
                TX <a href="/tx/{{t.hash}}" class="primary-link">{{t.hash}}</a>
              </div>
              <div class="item-date text-blue-600" style="float:right">{{t.timestamp | timeDuration }} ago</div>
            </div>
            <div class="todo-tasklist-controls">
              <span class="todo-tasklist-item-text text-blue-400">From <a href="/addr/{{t.from}}" class="text-blue-500">{{t.from.substr(0,24)}}...</a></span>
              <span class="todo-tasklist-item-text text-blue-400">To <a href="/addr/{{t.to}}" class="text-blue-500">{{t.to.substr(0,24)}}...</a></span><br>
              <div class="todo-tasklist-item-text text-blue-500" style="margin-top:4px;">{{t.value}} {{settings.symbol}}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PORTLET-->
    </div>
  </div>
  